#btnCart {
    background-color: #060606;
    color: #fff;
    border-radius: 25px;
}
#btnBuy {
    background-color: #060606;
    color: #fff;
    border-radius: 25px;
}
#btnCart:hover {
    background-color: #752222;
    color: #fff;
}
#cari {
    border-radius: 20px;
}
#img {
    border-radius: 0px 50px 0px 50px;
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    transform: scale(0.9);
    transition: all 0.4s ease;
}
#img:hover {
    transform: scale(0.99);
    transition: all 0.4s ease;
}

.card {
    border-radius: 0px 50px 0px 50px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    cursor: pointer;
}
#btnCancel {
    background-color: #2f4f4f;
    color: rgb(247, 238, 238);
    border-radius: 5px;
}
#btnCancel:hover {
    background-color: #d13614;
    color: #e9f1f1;
    border-radius: 5px;
}
#btnSave {
    background-color: #2f4f4f;
    color: #fff;
    border-radius: 5px;
}
#btnSave:hover {
    background-color: #bfc5c5;
    color: #2f4f4f;
    border-radius: 5px;
}
#dateOrder {
    width: 60%;
    border-radius: 3px;
    margin-top: 8px;
}
#qtyOrder {
    width: 60%;
    border-radius: 3px;
    margin-top: 10px;
}
#logout:hover {
    background-color: #d13614;
    color: #0b0e0e;
    border-radius: 5px;
}
#logout {
    background-color: #060606;
    color: #e9f1f1;
    border-radius: 5px;
}
